{% extends 'base.html' %}

{% block title %}Aromas del Mundo{% endblock %}

{% block content %}
<section class="hero" style="padding: 10px 10px;">
    <h2>Descubre Nuestros Aromas Exclusivos</h2>
</section>

<section class="featured-products" id="productos" style="padding: 10px 10px;">
    <h2>Productos Destacados</h2>
    {% if user.is_authenticated and user.is_staff %}
        <div class="create-button-container">
            <a href="{% url 'crear_producto' %}" class="create-button">
                Crear Producto
            </a>
        </div>
    {% endif %}
    <div class="product-grid">
        {% for producto in productos %}
        <div class="product">
            <a href="{% url 'detalle_producto' producto.id %}" style=" text-decoration: none;">
                {% if producto.fotografia %}
                <img src="{{ producto.fotografia.url }}" alt="{{ producto.nombre }}">
                {% else %}
                <img src="https://via.placeholder.com/300x300?text=No+Image" alt="Imagen no disponible">
                {% endif %}
                <h3>{{ producto.nombre }}</h3>
                <p>${{ producto.precio }}</p>
            </a>
        </div>
        {% empty %}
        <p>No hay productos disponibles en este momento.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}