{% extends 'base.html' %}

{% block title %}Crear Producto{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Nombre:</label>
            <input type="text" name="nombre" required>

            <label>Categoría:</label>
            <select name="categoria">
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>

            <label>Precio:</label>
            <input type="number" name="precio" required step="0.01">

            <label>Stock:</label>
            <input type="number" name="stock" required>

            <label>Descripción:</label>
            <textarea name="descripcion"></textarea>

            <label>Fotografía:</label>
            <input type="file" name="fotografia" accept="image/*" onchange="previewImage(event)">
            
            <!-- Vista previa de la imagen seleccionada -->
            <div class="image-preview" id="imagePreview">
                <img id="previewImage" src="" alt="Vista previa de la imagen">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <button type="submit" class="submit-button" style="flex: 1; margin-right: 10px; padding: 10px 0;">Crear Producto</button>
                <a href="javascript:history.back()" class="cancel-button" style="flex: 1; text-align: center; padding: 10px 0; text-decoration: none;">Cancelar</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}