{% extends 'base.html' %}

{% block title %}Crear Categoria{% endblock %}

{% block content %}

<section class="form-section">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <label>Nombre de la Categoría:</label>
            <input type="text" name="nombre" required>

            <label>Descripción:</label>
            <textarea name="descripcion"></textarea>

            <div style="display: flex; justify-content: space-between;">
                <button type="submit" class="submit-button" style="flex: 1; margin-right: 10px; padding: 10px 0;">Crear Categoría</button>
                <a href="{% url 'pagina_principal' %}" class="cancel-button" style="flex: 1; text-align: center; padding: 10px 0; text-decoration: none;">Cancelar</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}