{% extends 'base.html' %}

{% block title %}Aromas del Mundo{% endblock %}

{% block content %}
<section class="featured-products" id="productos">
    {% if user.is_authenticated and user.is_staff %}
    <div class="create-button-container" style="margin-top: 20px;">
        <a href="{% url 'crear_producto' %}" class="create-button">
            Crear Producto
        </a>
    </div>
    {% endif %}
    
    <section class="main-content">
        <div class="sidebar" id="categorias">
            <section class="category-title">
                <div class="title-container">
                    <h2 style="color:white">Categorías</h2>
                    {% if user.is_authenticated and user.is_staff %}
                        <a href="{% url 'crear_categoria' %}" class="create-button">Crear nueva categoría</a>
                    {% endif %}
                </div>
            </section>
            <!-- Listado de categorías -->
            <section class="category-list">
                <div class="category-grid">
                    {% for categoria in categorias %}
                    <div class="category-item">
                        <a href="/categorias/{{ categoria.id }}" style="text-decoration: none;">
                            <h3>{{ categoria.nombre }}</h3>
                            <p>{{ categoria.descripcion|default:"Sin descripción" }}</p>
                        </a>
                        {% if user.is_authenticated and user.is_staff %}
                        <div class="category-actions">
                            <a href="{% url 'ver_actualizar_categoria' categoria.id %}" class="edit-button">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <form method="POST" action="{% url 'eliminar_categoria' categoria.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta categoría?');">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <p>No hay categorías disponibles.</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    
        <div class="content" id="productos">
            <h2 style="color:white">Productos en la categoría: {{ categoria.nombre }}</h2>
            <div class="product-grid" id="product-grid" style="margin-top: 20px;">
                {% for producto in productos %}
                <div class="product" data-name="{{ producto.nombre }}" data-price="{{ producto.precio }}" data-category="{{ producto.categoria.id }}">
                    <a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none;">
                        {% if producto.fotografia %}
                        <img src="{{ producto.fotografia.url }}" alt="{{ producto.nombre }}">
                        {% else %}
                        <img src="https://via.placeholder.com/300x300?text=No+Image" alt="Imagen no disponible">
                        {% endif %}
                        <h3>{{ producto.nombre }}</h3>
                        <p>${{ producto.precio }}</p>
                        <form action="{% url 'cart:cart_add' producto.id 0%}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart-button">
                                <i class="fas fa-cart-plus"></i> Añadir al carrito
                            </button>
                        </form>
                    </a>
                </div>
                {% empty %}
                <p>No hay productos disponibles en este momento.</p>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
<script>
    function mostrarEstadoPedido() {
        const numero_factura = document.getElementById("numero-factura").value
        fetch("/factura/numero_factura/" + numero_factura)
            .then(data => data.json())
            .then(json => alert("LA FACTURA CON NÚMERO " + numero_factura + " TIENE ESTADO: " + json["estado_factura"]))
            .catch(error => alert("FACTURA CON NÚMERO " + numero_factura + " NO ENCONTRADO"))
    }
    
    function filterProducts() {
        // Obtener valores de los filtros
        const filterName = document.getElementById('filter-name').value.toLowerCase();
        const filterPrice = parseFloat(document.getElementById('filter-price').value) || Infinity;

        // Obtener todos los productos
        const products = document.querySelectorAll('.product');

        // Filtrar productos
        products.forEach(product => {
            const productName = product.getAttribute('data-name').toLowerCase();
            const productPrice = parseFloat(product.getAttribute('data-price'));

            // Verificar si el producto cumple con los filtros
            const matchesName = productName.includes(filterName);
            const matchesPrice = productPrice <= filterPrice;

            // Mostrar u ocultar el producto según los filtros
            if (matchesName && matchesPrice) {
                product.style.display = 'block';
            } else {
                product.style.display = 'none';
            }
        });
    }
</script>
<style>
    .main-content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 25%;
    height: 100vh; /* Hace que el sidebar ocupe toda la altura de la ventana */
    top: 0; /* Fija el sidebar en la parte superior */
    overflow-y: auto; /* Permite el scroll si las categorías ocupan más espacio */
    background-color: #006e6f; /* Color de fondo para diferenciar */
    padding: 20px;
}

.content {
    width: 75%;
    padding: 20px;
}
.sidebar {
    width: 25%; /* Ancho del sidebar */
    height: 100vh; /* Hace que ocupe toda la altura de la ventana */
    top: 25px; /* Fija el sidebar en la parte superior */
    overflow-y: auto; /* Permite el scroll si las categorías ocupan más espacio */
    background-color: #006e6f; /* Color de fondo para diferenciar */
    padding: 10px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor */
    position: relative; /* Asegura que los elementos internos se posicionen correctamente */
}

.sidebar .category-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff; /* Línea debajo del título */
}

.sidebar .title-container h2 {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
}

.create-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007d7c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
}

.create-button:hover {
    background-color: #006e6f; /* Cambio de color en hover */
}

.category-list {
    margin-top: 20px;
}

.category-item {
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados para cada categoría */
    margin-bottom: 15px; /* Espaciado entre las categorías */
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave en las tarjetas */
    transition: transform 0.3s, box-shadow 0.3s; /* Efectos visuales */
}

.category-item:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumento de sombra en hover */
}

.category-item h3 {
    color: #006e6f;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.category-actions {
    display: flex;
    justify-content: space-between; /* Alinea los botones de acción de manera horizontal */
    gap: 10px;
}

.edit-button, .delete-button {
    background-color: #007d7c;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.edit-button:hover {
    background-color: #006e6f;
}

.delete-button:hover {
    background-color: #b30000; /* Rojo en el hover para eliminar */
}



</style>
{% endblock %}
