{% extends 'base.html' %}

{% block title %}Categorias{% endblock %}
{% block content %}
    <div class="container">
        <!-- Título de la categoría -->
        <section class="category-title">
            <div class="title-container">
                <h2>Productos en la categoría: {{ categoria.nombre }}</h2>
                {% if user.is_authenticated and user.is_staff %}
                <form method="POST" action="{% url 'eliminar_categoria' categoria.id %}" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta categoría?');">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
                <a href="{% url 'ver_actualizar_categoria' categoria.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
            </div>
        </section>

        <section class="featured-products" id="productos">
            <div class="product-grid">
                {% for producto in productos %}
                <div class="product">
                    <a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none;">
                        {% if producto.fotografia %}
                        <img src="{{ producto.fotografia }}" alt="{{ producto.nombre }}">
                        {% else %}
                        <img src="https://via.placeholder.com/300x300?text=No+Image" alt="Imagen no disponible">
                        {% endif %}
                        <h3>{{ producto.nombre }}</h3>
                        <p>${{ producto.precio }}</p>
                        <form action="{% url 'cart:cart_add' producto.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart-button">
                                <i class="fas fa-cart-plus"></i> Añadir al carrito
                            </button>
                        </form>
                    </a>
                </div>
                {% empty %}
                <p>No hay productos disponibles en esta categoría.</p>
                {% endfor %}
            </div>
        </section>
    </div>
<script>
    function mostrarEstadoPedido() {
        const numero_factura = document.getElementById("numero-factura").value
        fetch("/factura/numero_factura/" + numero_factura)
            .then(data => data.json())
            .then(json => alert("LA FACTURA CON NÚMERO " + numero_factura + " TIENE ESTADO: " + json["estado_factura"]))
            .catch(error => alert("FACTURA CON NÚMERO " + numero_factura + " NO ENCONTRADO"))
    }
</script>
</html>
{% endblock %}